name: KBOT-CICD

on:
  push:
    branches: [ "main" ]

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
   

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Run test
        run: make test
      - name: Docker Hub Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Build and Push Docker Image
        env:
          APP: "kbot"
          REGISTRY: ${{ secrets.DOCKER_HUB_USERNAME }}
        run: make image push