name: KBOT-CICD

on:
  push:
    branches: [ "develop" ]

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
   

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Run test
        run: make test
      - name: GitHub Packages Login
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push Docker Image
        env:
          APP: "kbot"
          REGISTRY: ghcr.io/${{ github.actor }}
        run: make image push

cd:
  name: CD
  needs: ci
  runs-on: ubuntu-latest

  steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set Version
      run: |
        echo "Version=$(git describe --tags --abbrev=0)-$(git rev-parse --short HEAD)" >> $GITHUB_ENV

    - name: Update Helm chart image tag
      uses: mikefarah/yq@master
      with:
        cmd: yq -i '.image.tag=strenv(Version)' helm/values.yaml

    - name: Commit Helm chart changes
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"
        git add helm/values.yaml
        git diff --cached --quiet || git commit -m "update to version ${Version}"
        git push